@import '../../utils//style/media-queries';

.icons-bar {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  @include tablet {
    margin-top: 1rem;
  }
  /* @include desktop {
    flex-direction: column;
    position: fixed;
    left: 1rem;
    bottom: 2rem;
  } */
  &__list {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    @include tablet {
      flex-basis: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .list {
    &__item {
      width: 40px;
      height: 40px;
      position: relative;
      font-size: 1.5rem;
      background-color: var(--orange);
      border: 1px solid transparent;
      border-radius: 50%;
      &__link {
        color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: 0.325rem;
        @include desktop {
          &:hover {
            color: var(--green-neon);
          }
        }
      }
    }
  }
}
