.badge {
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0.125rem 0.45rem;
  font-family: var(--font-primary);
  font-size: 0.778rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: var(--gray-light);
  background-color: transparent;
  border: 2px solid;
  border-radius: 20px;
}
