@import '../../utils/style/media-queries';

.section.section--about {
  margin-top: 3rem;
  padding-top: 5rem;
  .section__text {
    .text-white.text-bold {
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        color: var(--green-neon);
      }
    }
  }
  @include tablet {
    .section__header__baseline {
      margin-bottom: 0.5rem;
    }
  }
  @include desktop {
    .section__design {
      width: 420px;
      aspect-ratio: 1/1;
      margin-left: auto;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      &__img {
        width: 500px;
        aspect-ratio: 1/1;
        position: absolute;
        top: 25%;
        right: -60%;
        z-index: -1;
        transform: translate(-50%, -50%);
      }
      &__logo-mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        &.logo-mask-light {
          fill: rgba(87, 76, 242, 0.7);
        }
        &.logo-mask-dark {
          fill: rgba(24, 3, 60, 0.7);
        }
      }
    }
  }
}
