.main__home {
  min-height: 100vh;
  padding-top: 100px;
  &.theme {
    &-light {
      color: var(--primary);
      background-color: var(--bg-white);
    }
    &-dark {
      color: var(--white);
      background-color: var(--bg-black);
    }
  }
}
