@import '../../utils/style/media-queries';

.card {
  flex-basis: 100%;
  width: 100%;
  margin-bottom: 1rem;
  &__header {
    width: 100%;
    display: flex;
    position: relative;
    &__number {
      position: absolute;
      bottom: -2.75rem;
      left: 1rem;
      font-weight: 800;
      font-size: 6rem;
    }
    &__img {
      width: 100%;
      aspect-ratio: 4/3;
      object-fit: cover;
      @include tablet {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 1rem 1rem;
    border-bottom: 3px solid;
    @include tablet {
      border-bottom: 2px solid;
      border-left: 2px solid;
      border-right: 2px solid;
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
    .box {
      display: flex;
      flex-wrap: wrap;
      &:last-of-type {
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 2rem;
      }
      &__date {
        flex-basis: 100%;
        font-size: 0.889rem;
        font-weight: 700;
        text-align: end;
      }
      &__title {
        flex-basis: 100%;
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 800;
        &::first-letter {
          text-transform: uppercase;
        }
      }
      &__description::first-letter {
        text-transform: uppercase;
      }
      &__buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .btn {
          width: 40px;
          height: 40px;
          font-size: 2rem;
          margin-left: 1rem;
          &__icon {
            color: var(--white);
          }
        }
      }
    }
  }
}
