.theme-toggler {
  cursor: pointer;
  &__light {
    width: 30px;
    height: auto;
    display: block;
    color: var(--white);
  }
  &__dark {
    width: 30px;
    height: auto;
    color: var(--primary);
  }
}
