.carousel {
  width: 100%;
  padding: 1.5rem 0;
  &__inner {
    border-bottom: 1px solid var(--black);
  }
  &__dots {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    &__item {
      width: 10px;
      height: 10px;
      background-color: var(--bg-light-grey);
      margin: 0 5px;
      cursor: pointer;
      border-radius: 50%;
      &.active {
        background-color: var(--orange);
      }
    }
  }
}
