@import '../../utils/style/media-queries';

.section.section--portfolio {
  margin-top: 3rem;
  padding-top: 5rem;
  .section__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    @include tablet {
      padding-top: 3rem;
      column-gap: 5%;
      .card:last-of-type {
        margin-right: auto;
      }
    }
    @include desktop {
      column-gap: 5%;
      .card {
        margin-bottom: 3rem;
        &-invisible {
          opacity: 0;
        }
        &:last-of-type {
          margin-right: auto;
        }
      }
    }
    &__title {
      flex-basis: 100%;
      font-size: 1rem;
      font-weight: 800;
      color: var(--blue-gray);
      padding-bottom: 1rem;
      margin: 0 1rem 2rem 1rem;
      border-bottom: 1px solid var(--border-blue);
      @include tablet {
        flex-basis: 100%;
        color: var(--white);
        font-size: 2rem;
        margin: 0;
        border: none;
        position: relative;
        &::after {
          content: '';
          width: 30%;
          height: 8px;
          position: absolute;
          top: -1.25rem;
          left: 0;
          background-color: var(--white);
          border-radius: var(--border-radius);
        }
      }
      @include desktop {
        flex-basis: 30%;
        color: var(--white);
        font-size: 2rem;
        text-align: center;
        margin: 0;
        border: none;
        position: relative;
        &::after {
          content: '';
          width: 30%;
          height: 10px;
          position: absolute;
          top: -1.5rem;
          left: 1rem;
          background-color: var(--white);
          border-radius: var(--border-radius);
        }
      }
    }
    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding: 0 0 1rem 1rem;
      border-color: var(--green-neon);
      .card__text {
        flex-basis: 55%;
        font-size: 2rem;
        font-weight: 700;
        .text-green-neon {
          font-size: 2rem;
        }
      }
    }
  }
}
