*::selection {
  color: var(--blue-dark);
  background-color: var(--green-neon);
}

body {
  min-width: 320px;
  font-size: 1rem;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--white);
  background-color: var(--blue);
  overflow-x: hidden;
  &.theme-dark {
    background-color: var(--blue-dark);
  }
  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

span {
  font-size: 0.889rem;
}
