:root {
  --font-family: 'Raleway', sans-serif;
  --font-size: 18px;
  --white: #fff;
  --blue: #420fe7;
  --blue-light: #8c85f3;
  --blue-dark: #18033c;
  --blue-gray: #cecae3;
  --gray-light: #f3f2f4;
  --green-neon: #2bffb1;
  --green-neon-light: #a4ffdd;
  --border-blue: #574cf2;
  --border-radius: 16px;
}
