:root {
    --font-family: 'Open Sans', sans-serif;
    --font-size: 18px;
    --primary: #000;
    --secondary: #9c9c9c;
    --orange: #ff7300;
    --white: #fff;
    --bg-black: #010001;
    --bg-white: #f8f8f8;
    --bg-light-grey: #e6e6e6;
    --bg-dark-grey: #222222;
    --border-radius: 16px;
  }