:root {
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Electrolize', sans-serif;
  --font-size: 18px;
  --white: #fff;
  --blue: #420fe7;
  --blue-light: #8c85f3;
  --blue-dark: #18033c;
  --blue-gray: #cecae3;
  --gray-light: #f3f2f4;
  --green-neon: #2bffb1;
  --green-neon-light: #a4ffdd;
  --border-blue: #574cf2;
  --border-radius: 16px;
  /* --black: #000;
  --white: #fff;
  --grey-dark: #9c9c9c;
  --grey-light: #c6c6c6;
  --orange: #ff7300;
  --bg-black: #010001;
  --bg-white: #f8f8f8;
  --bg-light-grey: #e6e6e6;
  --bg-dark-grey: #222222;
  --border-radius: 16px; */
}
